<h1 class="display-1 text-center"><b>Forex - CodeHex</b></h1>
<h2 class="text-center">Forex Aggregator and Trends</h2><br><br><br><br>

<h2 class="text-center">User Dashboard</h2>

<div id="user-dash" class="col-md-12 border border-danger"><br><br>

    <h2 class="text-center text-primary"><u>Latest Market Price of Your Preferred Currency Pair</u></h2><br><br>
    <div id="latest-price">

        <div id="latest-results">

            <!-- populated by onInit() function -->

        </div>

    </div><br><br><br><br>


    <h2 class="text-center text-danger"><u>Market Trend of Your Preferred Currency Pair</u></h2><br><br>
    <div id="market-price">
        <br>

        <div id="trend-results">
            <!-- populated by onInit() function -->
        </div>

    </div>

    <br><br><br>


    <div id="graph">
        <br>
        <h2 class="text-center text-warning"><u>Overall Weekly Performance of Your Preferred Currency Pair</u></h2>
        <br><br>


        <div id="plot" class="mx-5 mt-auto">

            <!-- populated by onInit() function -->


        </div>

    </div><br><br>
</div>